<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/users" class="<%= activePath === '/users' ? 'active' : ''%>">User List</a></li>
            <li class="main-header__item"><a href="/" class="<%= activePath === '/' ? 'active' : ''%>">Add Users</a></li>
        </ul>
    </nav>
</header>